/* Header */
.body{
    background-color:#1c1917; 
}
.header {
  background-color: #292524; /* azul oscuro tipo slate-900 */
  padding: 0.5rem 4rem;
  margin: -1rem -1rem;
}

/* Nav */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 1px;
}


/* Logo */
.logo {
  color: #f97316; /* naranja */
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Items */
.nav-item {
  color: #ffffff;
  margin: 0 1rem;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-item:hover {
  color: #f97316;
}

/* Botón Hablemos */
.subtitulo {
  border: 2px solid #f97316;
  color: #f97316;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
}

.subtitulo:hover {
  background-color: #f97316;
  color: #111827;
}

/*es el hero de la imagen*/
.img-hero{
  display: flex;
  justify-content: center;
    margin: 3rem 2rem 6rem 8rem;
    padding: 2rem;
    width: 70vh;
    height: 35vh;

}
.hero-title {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 55px;
  text-align: left;
  margin-left: 10rem;
  margin-top: -7rem;
}

.hero-description {
  color: #a8a29e;
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  text-align: left;
  margin-left: 10rem;
  margin-top: -1rem;
}

.hero-button {
 border: 2px solid #f97316;
  background-color: #f97316;
  color: black;
  padding:  0.3rem 1rem;
  border-radius: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  margin-left: 10rem;
  font-family: arial, sans-serif;
}
.footer{
  background-color: #0c0a09; /* azul oscuro tipo slate-900 */
  padding: 1rem 4rem;
  margin-top: 7rem;
  font-size: 0.6rem;
  width: 100%;
  text-align: center;
}

.footer-text {
  color: #78716c;
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 20px;
  margin-top: 0.5rem;
  text-align: center;
}